.arrivalListPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.arrivalList {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.arrivalList table {
  height: 100%;
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
}

.arrivalList table thead {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  height: 20%;
  width: 100%;
}
.arrivalList table tr {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}
.arrivalList table thead tr {
  height: 100%;
}
.arrivalList table tbody tr {
  height: 10%;
}

.arrivalList table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 80%;
}
.arrivalList th,
.arrivalList td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px black solid;
}
