.disparenciesDetector {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

.disparenciesDetector table {
  height: 80%;
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
}

.disparenciesDetector table thead {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  height: 10%;
  width: 100%;
}
.disparenciesDetector table tr {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}
.disparenciesDetector table thead tr {
  height: 100%;
}
.disparenciesDetector table tbody tr {
  height: 10%;
}

.disparenciesDetector table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 80%;
}
.disparenciesDetector th,
.disparenciesDetector td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px black solid;
}
